ENVIRONMENT=Development
PUBLIC_DOMAIN=example.com
SHORT_CODE_LENGTH=8

# настройки базы данных (postgres)
DB_HOST=database
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=url_shortener

# настройки redis
REDIS_HOST=redis
REDIS_PORT=6379

# параметры jwt конфигурации
Jwt__SecretKey=a-string-secret-at-least-256-bits-long
Jwt__Issuer=Shortener
Jwt__Audience=Shortener
Jwt__ExpirationInMinutes=1440 # 24 часа
