ENVIRONMENT=Production
BACKEND_PORT=5000

# настройки базы данных (postgres)
DB_HOST=database # если используется docker - название контейнера с базой данных
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=url_shortener

DB_PORT=5432 # порт подключения сервиса к базе данных
DB_EXTERNAL_PORT=6666 # порт для подключения к базе данных снаружи docker контейнера

# настройки redis
REDIS_HOST=redis # если используется docker - название контейнера с redis
REDIS_PORT=6379 # порт подключения сервиса к redis
REDIS_EXTERNAL_PORT=6379 # порт для подключения к redis снаружи docker контейнера

# параметры jwt конфигурации 
Jwt__SecretKey=a-string-secret-at-least-256-bits-long
Jwt__Issuer=Shortener
Jwt__Audience=Shortener
Jwt__ExpirationInMinutes=1440 # 24 часа